.ButtonDefault {
	margin: 0.5em 1em;
	border-width: 1px 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(238, 238, 238);
    border-bottom-color: rgb(189, 189, 189);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(97, 97, 97);
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    padding: 8px 14px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    transition: background 0.1s ease-out, border-top 0.1s, border-bottom 0.1s, color 0.1s;
    -webkit-user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    background: rgb(238, 238, 238);
}

.ButtonPrimary {
	border-width: 1px 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(83, 199, 242);
    border-bottom-color: rgb(57, 149, 183);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(250, 250, 250);
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    padding: 8px 14px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    transition: border-top 0.1s ease-out, border-bottom 0.1s, color 0.1s;
    -webkit-user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    margin-right: 15px;
    background: rgb(83, 199, 242);
}